@mixin card-property {
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

section {
  margin: 50px auto 50px auto;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
  gap: 30px;

  .card {
    width: 300px;
    height: auto;
    margin: auto;
  }

  .one {
    @include card-property;
    border-top: 4px solid $primaryCyan;
    grid-area: one;
  }

  .two {
    @include card-property;
    border-top: 4px solid $primaryRed;
    grid-area: two;
  }

  .three {
    @include card-property;
    border-top: 4px solid $primaryOrange;
    grid-area: three;
  }

  .four {
    @include card-property;
    border-top: 4px solid $primaryBlue;
    grid-area: four;
  }

  h2 {
    font-weight: 600;
    font-size: 1rem;
    color: $veryDarkBlue;
  }

  .card-content {
    line-height: 1.5;
    font-size: 0.9em;
    font-weight: 400;
    padding: 20px;
  }

  .card-img {
    float: right;
    padding: 20px;
  }
}

@media (max-width: 420px) {
  .heading-paragraph {
    width: 300px;
    margin: 1rem auto 4rem auto;
    height: auto;
  }
}

@media (min-width: 420px) {
  section {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      ". two ."
      "one two four"
      "one three four"
      ". three .";
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    inline-size: 80%;
    justify-items: center;
    margin-bottom: 50px;
  }

  .heading-paragraph {
    text-align: center;
    inline-size: auto;
    font-size: 0.9rem;
    padding: 0 30% 50px 30%;
  }
}
